.label {
  font-family: ComicNeue-Bold;
  font-weight: bold;
  font-size: 72px;
  color: black;
}

.hidden {
  display: none;
}

.label1 {
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.label2 {
  position: absolute;
  bottom: 120px;
  left: 150px;
}

.label3 {
  position: absolute;
  top: 250px;
  left: 150px;
}

.label4 {
  position: absolute;
  bottom: 60px;
  left: 110px;
}

.label5 {
  position: absolute;
  bottom: 120px;
  left: 110px;
}

.label6 {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.label7 {
  position: absolute;
  bottom: 160px;
  left: 100px;
}

